<div>
    <div>
        <button class="button-green">AAAAAAAAA</button>
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis aspernatur, accusantium doloremque perferendis quo ad sapiente iure odio debitis est, sint quibusdam obcaecati laudantium incidunt exercitationem temporibus reprehenderit unde possimus.</span>
    </div>
    <button class="button-green">AAAAAAAAA</button>
    <img src="../assets/images/juTmkoPB3r4.png">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias rerum architecto accusamus autem est magnam odio tempora. Molestiae velit doloremque, similique ut quaerat delectus, unde fugit, alias facilis amet blanditiis!

    <app-menu></app-menu>
</div>