@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.scss';

body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0px;
    background-image: url("./assets/images/nature.jpg");
}
.main-content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;

    .main-content-body {
        height: 100vh;
        width: 1100px;
        background-color: rgb(246, 248, 248);
        border: 3px solid black;
        border-top: 0px;
        border-bottom: 0px;
    }
}


.field {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 5px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
    }
}

.data-filters {
    display: flex;
    padding: 10px 15px;
    align-items: center;

    .field:nth-child(2) {
        padding-left: 10px;
    }
}

    .product-name {
        font-size: 1.5rem;
        font-weight: 700;
    }
    
    .product-description {
        margin: 0 0 1rem 0;
    }
    
    .product-category-icon {
        vertical-align: middle;
        margin-right: .5rem;
    }
    
    .product-category {
        font-weight: 600;
        vertical-align: middle;
    }
    
    .product-grid-item {
        margin: .5em;
        border: 1px solid #dee2e6;
    
        .product-grid-item-top,
        .product-grid-item-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    
        img {
            width: 75%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            margin: 2rem 0;
        }
    
        .product-grid-item-content {
            text-align: center;
        }
    
        .product-price {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
